:root {
    background-color: black;
    color: white;
    font-size: 12px;
}

header {
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
}

.App {
    display: flex;
    align-items: center;
    text-align: center;
    padding: auto auto;
}

